html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background-color: rgb(19, 19, 19);
    margin: 0;
}

nav {
    display: flex;
    margin: 3vh;
}

header {
    display: flex;
}

header img {
    width: 10vh;

}

li:hover {
    background-color: rgb(59, 59, 59);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

main {
    display: grid;

    margin: 3vh;

    width: 50vw;
    height: auto;

    background-color: rgb(61, 61, 61);

    border-radius: 6px;

}

main img {
    max-width: 50%;
    height: auto;

    border-radius: 5px;
}

.content {
    margin: 5px;
}

.content a {
    color: rgb(167, 167, 167);
    font-size: 1em;
}

.content a:hover{
    color: rgb(194, 194, 194);  
}

.wrapper {
    margin-bottom: 50px;
}

mark {
    background-color: rgb(94, 134, 180);
    font-weight: 500;
}

@media (max-width: 768px) {
    main {
        width: 80vw;
    }
}